.navbar-brand {
    font-size: 28px;
    cursor: pointer;
}

.main-navbar {
    background-color: #a13333;
    color: floralwhite;
}

.navbar-light .navbar-nav .nav-link {
    color: floralwhite;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: floralwhite;
    font-weight: 600;
}

.page-jumbotron {
    height: 600px;
    background-image: linear-gradient(to top, rgba(216, 218, 223, 0.52), rgba(36, 23, 33, 0.73)), url('https://wallpaperaccess.com/full/1126911.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.jumbotron-items-header {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
}

.page-slogan {
    color: white;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
}

.form-holder {
    position: relative;
}

.search-form {
    margin: 0 auto;
    width: 95%;
    height: 140px;
    padding: 10px;
    background: #d9d5d5;
    opacity: 0.8;
    border-radius: 5px;
    margin-top: 10px;
}

.search-button-mobile {
    background-color: #a13333;
    color: white;
    position: absolute;
    top: 100px;
    width: 90%;
    padding: 10px;
    left: 5%;
    right: 5%;
    z-index: 1;
}