body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f4f5f6;
  overflow-x: hidden;
}

.navbar-brand {
  font-size: 28px;
  cursor: pointer;
}

.main-navbar {
  background-color: #a13333;
  color: floralwhite;
}

.navbar-light .navbar-nav .nav-link {
  color: floralwhite;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: floralwhite;
  font-weight: 600; 
}

.page-jumbotron {
  height: 560px;
  background-image: linear-gradient(to top, rgba(216, 218, 223, 0.52), rgba(36, 23, 33, 0.73)), url('https://wallpaperaccess.com/full/1126911.jpg');
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
}

.jumbotron-items-header {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.page-slogan {
  color: white;
  font-weight: 600;
  margin: 10px auto;
  text-align: center;
  width: 95%;
}

.form-holder {
  position: relative;
}

.search-form {
  margin: 0 auto;
  width: 95%;
  height: 180px;
  padding: 10px;
  background: #d9d5d5;
  opacity: 0.8;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.search-form-sm {
  margin: 0 auto;
  width: 60%;
  height: 150px;
  padding: 10px 20px;
  background: #d9d5d5;
  opacity: 0.8;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.font-weight-600 {
  font-weight: 600;
}

.search-button-mobile {
  background-color: #a13333;
  color: white;
  position: absolute;
  top: 100px;
  width: 90%;
  padding: 10px;
  left: 5%;
  right: 5%;
  z-index: 1;
  outline: none;
}

.search-button-mobile:hover {
  background-color: #a13333;
}

.search-button-mobile:focus {
  outline: none !important;
  box-shadow: none;
} 

.button-how-it-work {
  position: absolute;
  width: 30%;
  left: 35%;
  right: 35%;
  white-space: normal;
  word-wrap: break-word;
}

.button-how-it-work:focus {
  outline: none !important;
  box-shadow: none;
}

.subscribe-textbox:focus {
  outline: none !important;
  box-shadow: none;
} 

.subscribe-btn:focus {
  outline: none !important;
  box-shadow: none;
} 

.main-header {
  text-align: center;
  color: #a13333;
  font-weight: 600;
  margin: 30px 10px;
}

.advertisement {
  padding: 30px;
  text-align: center;
  height: 290px;
}

.find-home-desc {
  margin: 20px 0px;
}

.bg-color-yellow {
  background-color: #e27f65;
  color: white;
}

.btn-ads-yellow {
  color: #d47c5c;
}

.bg-color-gray {
  background-color: #878c8c;
  color: white;
}

.btn-ads-gray {
  color: #84807f;
}

.bg-color-blue {
  background-color: #519bd8;
  color: white;
}

.btn-ads-blue {
  color: #21a0d2;
}

.find-home-header {
  margin-top: 40px;
}

.page-footer {
  background-color: #000000;
  color: floralwhite;
}

.footer-list li {
  display: inline;
  font-weight: 600;
  color: floralwhite;
  padding: 0px 5px;
  cursor: pointer;;
}

.subscribe-textbox {
  background-color: #000000;
}

.subscribe-btn {
  border-radius: 0%;
}

.iconsStyle {
  width: 100px;
}

.border-gray {
  border-bottom: 1px solid gray !important;
}